
  <div class="center jumbotron">
    <h1>Welcome to the chill skate</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


<% @events.each do |event| %>
<div class="col-sm-3 panel panel-default">
  <div class="panel-heading">
    <%= event.place %>
  </div>
  
  <div class="panel-body">
      <span class="label label-info"><%= event.time %></span>
  </div>
</div>
<% end %>