<div class="panel-heading">
  <%= @event.place %>
</div>
  
<div class="panel-body">
  <span class="label label-info"><%= @event.time %></span>
</div>

<%= link_to "Join", event_path, class: "btn btn-lg btn-primary" %>