<div class="panel-heading">
<% if @event.attendees.any? %>  
  <%= @event.attendees.count %>
<% end %>
  <%= @event.place %>
</div>
  
<div class="panel-body">
  <span class="label label-info"><%= @event.time %></span>
</div>

<%= link_to "Join", attend_event_path(@event), class: "btn btn-lg btn-primary" %>